body {
    background-color: #F3CBBE;
}

.fa-ul {
    /* class to align items in footer list */
    margin-left: 2rem;
}

.card-img-top {
    margin-top: 9px;
    border-radius: 4px;
}


/* Devices 992px and down */
@media (max-width: 992px) {

    /* make footer items centered */
    .fa-ul {
        margin-left: 0;
    }

    .fa-li {
        margin: 0 auto;
        left: 0;
        width: inherit;
    }

    .full-width {
        /* class to unset max-width in bootstrap containers */
        max-width: 1000px;
    }

}