body {
    background-color: rgba(224, 189, 177, 0.54);
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.3px;
    font-weight: 300;
}

p {
    line-height: 28px;
    color: rgb(115, 115, 115);
    font-weight: 400;
}

h1 {
    font-size: 3.4rem;
}

h2 {
    color: #672a2e;
}

h4 {
    color: #4b1c24;
}

h5 {
    color: #4b1c24;
}

h6 {
    color: #212529;
}

a {
    color: #BC8180;
}

a:hover {
    color: #a17772;
}

ul li {
    margin-left: 3px !important;
}

.navbar {
    padding: 0;
    letter-spacing: 2px;
    font-weight: 300;
}

.navbar-color {
    --bs-navbar-color: #672a2ee6;
    --bs-navbar-hover-color: #a17772;
}

.navbar-dropdown-color {
    --bs-dropdown-link-color: #672a2ee6;
    --bs-dropdown-link-hover-color: #a17772;
}

.card-title {
    color: #c88686;
}

.card-text {
    line-height: 23px;
    color: rgb(115, 115, 115);
    font-weight: 400;
}

/* homepage */

#slogan {
    margin-top: -459px !important;
    margin-left: 107px;
    color: #a17772;

}

#book-button-container {
    position: absolute;
    margin-top: 108px;
    left: 115px;
    width: 873px;
}

#book-button {
    font-size: 30px;
    max-width: 204px;
}

.fa-ul {
    /* class to align items in footer list */
    margin-left: 2rem;
}

.card-img-top {
    /* align images in homepage treatment cards */
    margin-top: 9px;
    border-radius: 4px;
}

.full-width {
    /* class to extend max-width in bootstrap containers */
    max-width: 1400px;
}

.hero-outer {
    height: 608px;
    width: 100%;
}

.hero-image {
    background: url(https://res.cloudinary.com/dirkornee/image/upload/v1666012817/hero-image_fzvujo.jpg) 26%;
    height: 613px;
    margin-top: -99px;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-card {
    --bs-btn-bg: #BC8180;
    --bs-btn-border-color: #BC8180;
    --bs-btn-hover-bg: #A17772;
    --bs-btn-hover-border-color: #A17772;
    --bs-btn-active-bg: #672A2E;
    --bs-btn-active-border-color: #672A2E;
}

.btn-login {
    color: #4e4d4dbd;
    --bs-btn-color: #BC8180;
    --bs-btn-border-color: rgba(187, 128, 127, 0.83);
    --bs-btn-hover-bg: #BC8180;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-border-color: #BC8180;
    --bs-btn-active-bg: #BC8180;
    --bs-btn-active-border-color: #BC8180;
    border-radius: 20%;
}

.custom-form-field {
    margin-top: 5px;
    margin-bottom: 10px;
}

/* booking page */

.datepicker-cover {
    display: block;
    position: relative;
    margin-top: -244px;
    height: 237px;
    background-color: #a17772a1;
    width: 388px;
}

#datepicker-right {
    display: block;
}

#datepicker-left {
    display: none;
}

.datepicker-center {
    width: 389px;
}

/* user dashboard */

.user-data-box {
    background: #e4b3aa;
    border-radius: 3%;
}

#accordionFlushAppointment {
    overflow: hidden;
    border-radius: 2%;

    --bs-accordion-bg: #fff7f7;
    --bs-accordion-border-color: #c2c2c2;
    --bs-accordion-btn-color: unset;
    --bs-accordion-active-bg: #bc8180;
    --bs-accordion-active-color: white;
    --bs-accordion-btn-icon: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z' /%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* Devices 992px and down */
@media (max-width: 992px) {

    /* make footer items centered */
    .fa-ul {
        margin-left: 0;
    }

    .fa-li {
        margin: 0 auto;
        left: 0;
        width: 100% !important;
    }

    /* make hero image fit mobile */
    .hero-outer {
        height: 532px;
    }

    .hero-image {
        background: url(https://res.cloudinary.com/dirkornee/image/upload/v1666012817/hero-image_fzvujo.jpg) 41%;
        height: 525px;
        margin-top: -99px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #slogan-container {
        max-width: 100%;
    }

    #slogan {
        margin-top: -435px !important;
        margin-left: 45px;
    }

    #book-button-container {
        margin-top: 48px;
        left: -103px;
    }

    #book-button {
        max-width: 194px;
    }
}

/* Devices 768px and down */
@media (max-width: 768px) {
    #datepicker-left {
        display: block;
    }

    #datepicker-right {
        display: none;
    }

    #book-button-container {
        margin-top: -398px;
        left: -66px;
    }

    #book-button {
        font-size: 27px;
    }

    #slogan {
        display: none;
    }
}

/* Devices 413px and down */
@media (max-width: 575px) {

    #book-button-container {
        left: 35px;
        width: 233px;
    }

    #book-button {
        font-size: 21px;
    }

    .text-nowrap {
        white-space: normal !important;
    }

    .footer-social-icon {
        display: inline;
        margin-left: 25px !important;
    }

    .datepicker-center {
        width: 100%;
    }

    .datepicker-cover {
        width: 100%;
    }

}