body {
    background-color: #F3CBBE;
}

.fa-ul {
    margin-left: 2rem;
}

/* Devices 992px and down */
@media (max-width: 992px) {

    /* make footer items centered */
    .fa-ul {
        margin-left: 0;
    }

    .fa-li {
        margin: 0 auto;
        left: 0;
        width: inherit;
    }
}