{% load static %}
{% load cloudinary %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NailsByFaar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/f368df1369.js" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        {% if not is_home %}
        <nav class="navbar navbar-expand-md navbar-color navbar-background">
            {% else %}
            <nav class="navbar navbar-expand-md navbar-color">
                {% endif %}
                <div class="container-fluid">
                    <a href="{% url 'home' %}" class="navbar-brand"><img
                            src="https://res.cloudinary.com/dirkornee/image/upload/v1666360592/logo-no-background_thicker_s1qwll.png"
                            alt="logo-nailsbyfaar" style="height: 130px; margin: -24px;"></a>
                    <button class="navbar-toggler" id="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a href="{% url 'home' %}" class="nav-link fs-5">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'about' %}" class="nav-link fs-5">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'treatments' %}" class="nav-link fs-5">Treatments</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'gallery' %}" class="nav-link fs-5">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'book' %}" class="nav-link fs-5">Book</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'contact' %}" class="nav-link fs-5">Contact</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            {% if request.user.is_authenticated %}
                            <li class="nav-item dropdown me-4">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="far fa-user-circle fa-lg me-1"></i>{{ user.first_name }}
                                    {{user.last_name}}
                                </a>
                                <ul class="dropdown-menu navbar-dropdown-color">
                                    <li>
                                        <a href="{% url 'dashboard' %}" class="dropdown-item">Dashboard</a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="na-item">
                                <a href="{% url 'account_login' %}"
                                    class="nav-link fs-5 btn btn-outline-primary btn-login" id="btn-login">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer class="text-white text-center text-lg-start bg-secondary mt-auto">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <h4 class="mb-4 text-white">map</h4>
                </div>
                <div class="col-lg-4 mb-4">
                    <h4 class="mb-4 text-white">contact info</h4>
                    <ul class="fa-ul">
                        <li class="fa-li mb-4 text-nowrap">
                            <span><i class="fas fa-home"></i>
                            </span><span class="ms-2">Den
                                Haag, Denhaagstraat 3,
                                1111DH</span>
                        </li>
                        <li class="fa-li mb-4 text-nowrap">
                            <span><i class="fas fa-envelope"></i></span><span
                                class="ms-2">nailsbyfaar@outlook.com</span>
                        </li>
                        <li class="fa-li mb-4 text-nowrap">
                            <span><i class="fas fa-phone"></i></span><span class="ms-2">+31648418046</span>
                        </li>
                        <li class="fa-li mb-4 text-nowrap">
                            <span><i class="fas fa-receipt"></i></span><span class="ms-2">KVK: 87131757</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 mb-4">
                    <h4 class="mb-4 text-white">socials</h4>
                    <ul class="fa-ul">
                        <li class="fa-li mb-4 pb-2 footer-social-icon">
                            <span class="text-nowrap"><i class="fa-brands fa-facebook fa-2x"></i>
                            </span><span class="ms-2 text-nowrap"></span>
                        </li>
                        <li class="fa-li mb-4 pb-2 footer-social-icon">
                            <span class="text-nowrap"><i class="fa-brands fa-instagram fa-2x"></i></span><span
                                class="ms-2"></span>
                        </li>
                        <li class="fa-li mb-4 pb-2 footer-social-icon">
                            <span class="text-nowrap"><i class="fa-solid fa-envelope fa-2x"></i></span><span
                                class="ms-2 text-nowrap"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" style="max-width: 100%;">
            <div class="row bg-dark" style="--bs-bg-opacity: .50">
                <div class="col-12 text-center">
                    <p class="mb-0 p-1 text-light">&copy; NailsByFaar</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>
</body>

</html>