{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-12">
            <p>{{ query }}</p>
            <p>{{ ddats }}</p>
        </div>
        <div class="col-md-4 col-12">
            {% for time in times %}
            <p>{{ time }}</p>
            {% endfor %}
        </div>
        <div class="col-md-4 col-12">
            <div id="datepicker"></div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}" />
<script>
    var times = JSON.parse("{{ times|escapejs }}");
    var d_dates = JSON.parse("{{ d_dates|escapejs }}");
</script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
{%endblock%}