{% extends "base.html" %}

{% load static %}
{% load instagram_client %}

{% block content %}
<div class="container mt-md-5 my-2 text-center">
    <div class="row">
        <div class="col-md-10 mx-auto mt-3 offset-md-2 text-center">
            <h1 class="mt-3">Gallery</h1>
            <p class="mx-auto mt-4" style="width: 80%;">Look at some examples of work done by NailsbyFaar!</p>
        </div>
    </div>
</div>
<div class="container">
    <h1>{{ instagram_profile_name|capfirst }} Instagram Feed</h1>
    <div id="django_recent_media_wall">
        {% instagram_user_recent_media instagram_profile_name %}
        {% for media in recent_media %}
        <div class="django_instagram_media_wall_item">
            <a href="//instagram.com/p/{{ media.shortcode }}" target="_blank">
                <img src="{{ media.thumbnail_src }}" />
                <span>{{ media.edge_media_to_caption.edges.0.node.text }}</span>
            </a>
        </div>
        {% endfor %}
    </div>
    <p>Got from instagram</p>
</div>
{% endblock %}