{% extends "base.html" %}

{% block content %}
<div class="container p-sm-4 full-width">
    <div class="row p-sm-0 p-4">
        {% for treatment in treatments %}
        <div class="card col-sm-12 col-md m-xl-5 m-lg-2 m-md-2 mb-3">
            <img src="{{ treatment.image.url }}" alt="image of nail treatment" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ treatment.appointment_type }}</h5>
                <p class="card-text">{{ treatment.short_description }}</p>
                <a href="#" class="btn btn-secondary btn-lg col-12 btn-card">Book Now</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="full-width"></div>
{%endblock%}