{% extends "base.html" %}

{% block content %}
<!-- hero image -->
<section class="hero-outer">
    <div class="hero-image"></div>
    <div class="container" style="margin-left: 0px;">
        <div class="row" id="slogan">
            <div class="col-5">
                <div class="ml-5 opacity-75">
                    <h1>
                        Pick a Style.
                    </h1>
                    <h1>
                        Sit Back.
                    </h1>
                    <h1>
                        Relax.
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="book-button">
        <div class="row">
            <div class="col-lg-3 col-9">
                <a href="{% url 'book' %}"
                    class="btn btn-secondary btn-lg btn-card d-flex mx-auto justify-content-center"
                    style="font-size: 30px; max-width: 204px">Book
                    Now!</a>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-12 h-50">
                <img class="img-fluid w-25 mw-75 d-block mx-auto" style="max-width: 252px!important; min-width: 179px;"
                    src="https://res.cloudinary.com/dirkornee/image/upload/v1664434584/logo-no-background_toghuy.png"
                    alt="nailsbyfaar logo">
            </div>
        </div>
    </div>
    <!-- treaments -->
    <div class="container p-sm-4 full-width">
        <div class="row p-sm-0 p-4">
            {% for treatment in treatments %}
            <div class="card col-sm-12 col-md m-xl-5 m-lg-2 m-md-2 mb-3">
                <img src="{{ treatment.image.url }}" alt="image of nail treatment" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title mb-3 mt-1">{{ treatment.appointment_type }}</h4>
                    <p class="card-text">{{ treatment.short_description }}</p>
                    <a href="{% url 'book' %}" class="btn btn-secondary btn-lg col-12 btn-card">Book Now</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="container mb-3">
        <div class="row mx-2 p-lg-5">
            <div class="col-12 col-md-6 mt-xl-5 p-lg-5">
                <h2 class="mb-5">Discover NailsbyFaar</h2>
                <p class="fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolor sit debitis
                    veritatis tempore
                    earum atque, id aperiam labore! Itaque ut quo quis provident hic mollitia illum alias. Excepturi,
                    assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus similique, nesciunt
                    aspernatur totam quaerat cumque alias repudiandae voluptates odit ullam vitae sapiente aperiam
                    voluptatibus distinctio fugit natus impedit consequuntur. Incidunt. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Nihil, fugiat, eius eum ratione ullam mollitia voluptates blanditiis
                    voluptatibus, aut voluptatum cupiditate ab sed atque impedit perferendis temporibus minus aperiam
                    optio?</p>
            </div>
            <div class="col-12 col-md-6 mt-3 mt-md-0 px-2">
                <img class="img-fluid"
                    src="https://res.cloudinary.com/dirkornee/image/upload/v1664376102/salon_ryti69.jpg"
                    alt="image of salon NailsbyFaar">
            </div>
        </div>
    </div>
</section>


<div class="full-width"></div>
{%endblock%}